.fancy-header {
    color:blue;
    text-decoration: underline;
}
.fancy-header{
    text-align: center;
}
body {
    background-color: lime;
}
.image{
    background-image: url("http://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");
    height: 200px;
    widows:200px;
}